<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- <context:property-placeholder location="properties/redis.properties"></context:property-placeholder> -->
       <!-- redis的相关配置 -->
       	<!-- 获取poolconf -->
       <bean id="poolConf" class="redis.clients.jedis.JedisPoolConfig">
       		<property name="maxIdle" value="300"></property>
       		<property name="maxTotal" value="4"></property>
       		<property name="maxWaitMillis" value="3000"></property>
       </bean>
       <!-- 连接工厂 -->
       <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
       		p:host-name="192.168.59.132"  p:port="6379" p:pool-config-ref="poolConf">
       </bean>
       <!-- jedis模板 -->
       <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
       		<property name="connectionFactory" ref="jedisConnectionFactory"></property>
       </bean>
        
    
</beans>	

